* {
    box-sizing: border-box;
    font-family: verdana;
}

body {
    background: linear-gradient(to bottom, #0000FF, #FF00FF);
}

div#contenedor {
    width: 100%;
}

div.contenido {
    height: 704px;
    width: 1056px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-top: -0.5em;
    font-size: 20px;
}

p {
    font-size: 16px;
}



.information,
.controlls,
.about {
    margin-top: 2%;
    padding-top: 2%;
    border: 3px solid #7c1cc0;
    text-align: center;
    color:#ebe5e5;
    background-color: #a942ab;
    font-weight: bold;
}

.header {
    border: 3px solid #300731;
    display: flex;
    background: #a942ab;
    margin: 1rem;
}

.menu {
    font-size: 35px;
    margin-left: 300px;
}

.github {
    height: 30px;
    width: 30px;
}

.link {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin: .2em;
    color: black;
    text-decoration: none;
    transition: height .3s linear;
}

.link:hover {
    background: #356FA5;
    color: white;
    border-radius: 10%;
}

.title-game {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    margin-left: 230px;
}


/*-------Estilos login---------*/
#login {

    color: white; 
    padding: 30px; 
    border-radius: 10px; 
    width: 400px; 
    margin: 0 auto; 
    background: black;
    opacity: .7;
}

#login h1 {
    font-size: 42px; 
    margin-bottom: 50px;
}

#login h2 {
    font-size: 20px; 
    margin-bottom: 20px; 
}

#login input[type="email"],
#login input[type="password"],
#login button {
    display: block; 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
    color: #333; 
}

#login button {
    background-color: #955b89; 
    color: white; 
    cursor: pointer; 
    width: 50%;
    margin: auto;
    font-size: 15px;
    margin-bottom: 70px;
}

#login button:hover {
    background-color: #a942ab; 
}


.signup , .login{
    margin-left: 50px;
    font-size: 18px;
    text-decoration: none;
    border: 3px solid #955b89;
    color:#a942ab ;
    border-radius: 10%;
}


.column-33{
    width: 33%;
}

.footer{
    display: flex;
}